<h1><%= @user.username %>'s Profile</h1>
<p>Games Played: <%= @games_played %></p>
<p>Games Won: <%= @games_won %></p>
<p>Games Lost: <%= @games_lost %></p>
<p>Average Guesses: <%= @average_guesses %></p>